@import "tailwindcss";
@theme{
  --color-osnovnoy-tekst: #686868;
  --color-aksentnyy: #2f70d9;
  --color-cvet-cta:#d95845;
  --color-footer: #282828;


}

.link{
  @apply text-[16px] tracking-wider
}